 @using BARBERSHOP_STUDIO.Models
@{
    ViewData["Title"] = "Our Services";
}

<h2>Our Services</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/Barbershop2.jpg" class="card-img-top" alt="Haircut">
                <div class="card-body">
                    <h5 class="card-title">Haircut</h5>
                    <p class="card-text">Professional haircut service: Starting from R80</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/girl.jpg" class="card-img-top" alt="Haircut">
                <div class="card-body">
                    <h5 class="card-title">Haircut</h5>
                    <p class="card-text">Professional haircut for women: Starting from R90</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/tattoo2.jpg" class="card-img-top" alt="Tattoo">
                <div class="card-body">
                    <h5 class="card-title">Tattoo</h5>
                    <p class="card-text">Custom tattoo designs: Starting from R200</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/ear-p.jpg" class="card-img-top" alt="Ear-Piercing">
                <div class="card-body">
                    <h5 class="card-title">Ear-Piercing</h5>
                    <p class="card-text">Safe ear-piercing service: from only R30</p>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="~/images/Hair2.jpg" class="card-img-top" alt="Hair Product">
                    <div class="card-body">
                        <h5 class="card-title">Hair Product</h5>
                        <p class="card-text">Quality hair products for sale: for only just R250</p>
                    </div>
                </div>
            </div>
            
                <!-- Add more service cards as needed -->
    </div>
</div>

    <div class="text-center mt-4">
        <a href="/Home/BookAppointment" class="btn btn-primary">Book an appointment</a>
        </div>
    